.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    /* margin: 20px; */
    min-width: 100px;
}

.card-img-top {
    height: 300px;

}

img {
    height: 200px;
}