main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

h2 {

}

.text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;

}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    min-width: 300px;
    margin: 10px;
    width: 30%;
}

.card:hover {
    
}

.card-img-top {
    height: 250px;

}

.bg-hack {
    background-image: url(../media/hackathons.png);
    background-size: contain;
    background-repeat: no-repeat;
}

